asgiref==3.8.1
bandit==1.8.3
cffi==1.17.1
cryptography==44.0.2
Django==5.2
django-extensions==4.1
dotenv==0.9.9
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
pbr==6.1.1
pycparser==2.22
Pygments==2.19.1
pyOpenSSL==25.0.0
python-dotenv==1.1.0
PyYAML==6.0.2
rich==14.0.0
setuptools==78.1.0
sqlparse==0.5.3
stevedore==5.4.1
typing_extensions==4.13.2
Werkzeug==3.1.3
